<!DOCTYPE html>
<html>
  <head>
    <title>高树教育</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to 高树教育</p>
    <br>
    <p>请关注微信公众号：高树吧</p>
    <p>请搜索微信小程序：高树吧</p>

  </body>
</html>
